:root {
  /* Iris */
  --primary-brand-color: #4d5ae5;
  /* hover efect */ /* OCEAN */
  --pressed-state-color: #404bbf;
  /* NAVY BLUE modal */
  --darc-color: #2e2f42;
  --succes-color: #31d0aa;
  --text-color: #434455;
  /* LIGHT SLATE */
  --subtle-text-color: #8e8f99;
  /* CORNFLOWER */
  --accent-color: #e7e9fc;
  /* CLOUD */
  --light-color: #f4f4fd;
  /* Navi blue */
  --hero-background-color: #2e2f42;
  --white-color: #ffffff;
  /* DAIRY */
  --modal-bgc: #fcfcfc;
  /* Fonts */
  --primari-font: 'Roboto', sans-serif;
  --secondari-font: 'Raleway', sans-serif;
}

h1,
h2,
h3,
p {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
button {
  border: none;
  margin: 0;
  padding: 0;
}
body {
  background-color: var(--white-color);
  color: var(--text-color);
  font-family: var(--primari-font);
  letter-spacing: 0.02em;
  line-height: 1.5;
}

.container {
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}
.section {
  padding-top: 120px;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.focus-finger-btn {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.focus-function-btn {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Menu Nav */

.navigation-header {
  border-bottom: 1px solid var(--accent-color);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-container {
  display: flex;
  align-items: center;
}
.navigation {
  display: flex;
  align-items: center;
}
.navigation-logo {
  color: var(--hero-background-color);
  font-family: var(--secondari-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  margin-right: auto;
  padding: 24px 0;
}
.logo-nav {
  color: var(--primary-brand-color);
}
.navigation-items {
  display: flex;
  gap: 40px;
  margin-left: 76px;
}
.nav-link {
  position: relative;
  color: var(--hero-background-color);
  font-weight: 500;
  font-size: 16px;
  padding: 21px 0 27px 0;
}
.nav-link:hover,
.nav-link:focus {
  color: var(--primary-brand-color);
}
.nav-link.active {
  color: var(--pressed-state-color);
}
.nav-link.active::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: var(--pressed-state-color);
  border-radius: 2px;
}
/* Contacts */

.contacts {
  margin-left: auto;
}
.contacts-items {
  display: flex;
  gap: 40px;
}
.contacts-item {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: var(--text-color);
  padding: 24px 0;
}
.contacts-item:hover,
.contacts-item:focus {
  color: var(--primary-brand-color);
}

/* Hero */
.hero-section {
  background-color: var(--hero-background-color);
  padding: 188px 0 188px 0;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-min.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}
.container-hero {
  max-width: 496px;
  align-items: center;
  text-align: center;
}
.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  color: var(--white-color);
  margin-bottom: 48px;
  min-width: 496px;
}
.hero-btn {
  font-family: var(--primari-font);
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.04em;
  color: var(--white-color);
  background-color: var(--primary-brand-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  border-radius: 4px;
  min-width: 169px;
  padding: 16px 32px;
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--pressed-state-color);
}

/* Section Specialty */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.specialty-items {
  display: flex;
  gap: 24px;
}
.specialty-icons {
  background-color: var(--light-color);
  padding: 24px 100px;
  width: 264px;
  height: 112px;

}
.subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--hero-background-color);
}
.specialty-subtitle {
  margin-top: 8px;
  margin-bottom: 8px;
}
.text {
  font-size: 16px;
}

/* Section Features */
.features-section {
  padding-bottom: 120px;
}
.features-title {
  margin-bottom: 72px;
  text-align: center;
}
.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  color: var(--hero-background-color);
}
.features-items {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.features-item {
  min-width: 360px;
  width: calc((100% - 48px) / 3);
}

/* Section Team */
.team-section {
  background-color: var(--light-color);
  padding-bottom: 120px;
}
.team-title {
  margin-bottom: 72px;
  text-align: center;
}
.team-items {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.team-item {
  background-color: var(--white-color);
  max-width: 264px;
  width: calc((100% - 72px) / 4);
}
.container-subtitle {
  padding: 32px 0 32px 0;
  text-align: center;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
  0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}
.team-subtitle {
  margin-bottom: 8px;
}
.team-text {
  margin-bottom: 8px;
}
.team-icon-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.team-icon-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width:40px;
  height:40px;
  border-radius: 50%;
  background-color: var(--primary-brand-color);
  text-decoration: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-icon-link:is(:hover, :focus) {
  background-color: var(--pressed-state-color);
}
.team-icon {
  width: 16px;
  height: 16px;
  fill: var(--light-color);
}

/* Customers sections */
.customers-container {
  padding-bottom: 120px;
}
.customers-title {
  margin-bottom: 72px;
  text-align: center;
}
.customers-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  width: 100%;
}
.customers-item {
  flex-basis: calc((100% - 120px) / 6);
  width: 168px;
  height: 88px;
}
.customers-link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  width: 100%;
  height: 100%;
  color: var(--subtle-text-color);
  border: 1px solid #8E8F99;
  border-radius: 4px;
}
.customers-link:is(:hover, :focus) {
  color: var(--pressed-state-color);
  border-color: var(--pressed-state-color);
}
.customers-icon {
  width: 104px;
  height: 56px;
  fill: currentColor;
}

/* Footer */
.footer {
  background-color: var(--hero-background-color);
  padding-top: 100px;
  padding-bottom: 100px;
}
.footer-flex {
  display: flex;
  justify-content: center;
  align-items: baseline;
  margin-left: auto;
}
.footer-container {
  margin-right: 120px;
}
.footer-logo {
  font-family: var(--secondari-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  padding: 24px 0;
  color: var(--light-color);
}
.logo-footer {
  color: var(--primary-brand-color);
}
.footer-text {
  font-size: 16px;
  color: var(--accent-color);
  max-width: 264px;
  margin-top: 16px;
}

/* Social media */
.social-media-container {
  margin-right: auto;
}
.footer-title {
  color: var(--white-color);
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
}
.sociak-media-list {
  display: flex;
  gap: 16px;
}
.sociak-media-link {
  display: flex;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  color: var(--white-color);
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
.sociak-media-icon {
  fill: currentColor;
}
.sociak-media-link:is(:hover, :focus) {
  background-color: var(--succes-color);
}
/* ------------------------footer form */
.footer-forma-container {
  display: flex;
  width: 453px;
  height: 80px;
  margin-left: auto;
  margin-bottom: 100px;
}
.footer-title {
  display: block;
}
.container-form {
  display: flex;
}
.footer-email {
  background-color: var(--hero-background-color);
  border: 1px solid var(--white-color);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: none;
  width: 264px;
  height: 40px;
  padding: 8px 0 8px 16px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-email::placeholder {
  color: var(--white-color);
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 0.04em;
  line-height: 1.5;
}
.footer-email:not(:placeholder-shown) {
  border-color: var(--primary-brand-color);
  color: var(--white-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.02em;
}
.footer-email:placeholder-shown {
  border-color: var(--white-color);
}
.footer-form-btn {
  color: var(--white-color);
  background-color: var(--primary-brand-color);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 24px;
  margin-left: 24px;
  gap: 16px;
  max-width: 165px;
  max-height: 40px;
  font-family: var(--primari-font);
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.04em;
}
.footer-form-btn:is(:hover, :focus) {
  background-color: var(--pressed-state-color);
}
.footer-forma-icon {
  width: 24px;
  height: 24px;
}

/* --------------------------------modal----------------------------------- */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 408px;
  min-height: 576px;
  background-color: var(--modal-bgc);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-hidden {
  opacity: 0;
  visibility: none;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}
.modal-close {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-top: 24px;
  margin-right: 24px;
  width: 24px;
  height: 24px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: var(--accent-color);
  color: var(--hero-background-color);
  cursor: pointer;
}
.modal-close:is(:hover, :focus) {
  background-color: var(--pressed-state-color);
  color: var(--white-color);
}
.close-icon {
  fill: currentColor;
}

/* modal form */
.modal-forma-container {
  display: inline-block;
}
.modal-title {
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  margin: 24px 24px 16px;
  color: var(--hero-background-color);
}
.modal-label {
  position: relative;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--subtle-text-color);
}
.modal-subtitle {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  margin-left: 24px;
  color: var(--subtle-text-color);
}
.modal-icon {
  position: absolute;
  top: 32px;
  left: 42px;
  fill: var(--hero-background-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-text {
  width: 360px;
  height: 40px;
  margin: 4px 24px 8px;
  padding-left: 38px;
  opacity: 0.2;
  outline: transparent;
  box-sizing: border-box;
  border: 1px solid var(--hero-background-color);
  border-radius: 4px;
  background-color: var(--modal-bgc);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-text:focus {
  opacity: 1;
  border: 1px solid var(--primary-brand-color);
}
.modal-text:focus + .modal-icon {
  fill: var(--primary-brand-color);
}
.textarea {
  resize: none;
  width: 360px;
  min-height: 120px;
  padding: 8px 16px;
}
.textarea::placeholder {
  font-family: var(--primari-font);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--darc-color);
}
.accept-check {
  display: flex;
}
.accept-check span {
  width: 16px;
  height: 16px;
  border: 1px solid var(--darc-color);
  border-radius: 2px;
  margin-left: 24px;
  margin-right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.privacy-check:checked + .accept-check span {
  fill: var(--light-color);
  background-color: var(--pressed-state-color);
  border-color: var(--pressed-state-color);
}
.accept-icon {
}
.policy-link {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  margin-left: 4px;
  cursor: pointer;
  color: var(--primary-brand-color);
  text-decoration: underline var(--primary-brand-color);
  text-underline-position: under;
}
.submit-modal {
  margin: 24px 120px;
}
/* ------------------------------PORTFOLIO.HTML------------- */

/* Button filter */
.finger {
  padding-top: 96px;
  padding-bottom: 120px;
}
.finger-items {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}
.features-item {
  width: calc((100% - 96px) / 5);
}
.finger-btn {
  font-family: var(--primari-font);
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.04em;
  color: var(--primary-brand-color);
  background-color: var(--light-color);
  border: 1px solid var(--accent-color);
  border-radius: 4px;
  padding: 12px 24px;
  cursor: pointer;
}
.finger-btn:hover,
.finger-btn:focus {
  color: var(--white-color);
  background-color: var(--pressed-state-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-color: var(--pressed-state-color);
}

/* Catalog with images */

.catalog-items {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.catalog-item {
  width: calc((100% - 48px) / 3);
}
.catalog-link {
  display: block;
  text-decoration-line: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
}
.catalog-link:is(:hover, :focus) {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.catalog-overlay {
  position: relative;
  overflow: hidden;
}
.light-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: auto;
  padding: 40px 32px 0 40px;
  font-size: 16px;
  color: var(--accent-color);
  background-color: var(--primary-brand-color);
}
.catalog-link:is(:hover, :focus) .light-text {
  transform: translateY(0%);
}
.catalog-group {
  padding: 32px 0 32px 16px;
  border-right: 1px solid var(--accent-color);
  border-bottom: 1px solid var(--accent-color);
  border-left: 1px solid var(--accent-color);
}
.catalog-subtitle {
  margin-bottom: 8px;
}
.catalog-text {
  color: var(--text-color);
}